{% extends 'hospital/homebase.html' %}


{% block content %}


<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, laboratorist</h1>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btnSubmit btn-lg" href="/laboratoristsignup" role="button">Apply for job</a>
    <a class="btnSubmit btn-lg" href="/laboratoristlogin" role="button">Login</a>
  </p>
  <br><br><br><br><br><br><br><br>
</div>


{% endblock content %}
